---
title:        "Wim Hof Method - A Beginner's Journey"
description:  "Journaling the wim hof journey - Ego WE-GO!"
image:        "https://upload.wikimedia.org/wikipedia/commons/a/a3/RogersPassTransCanada.png"
author:       "Sean Orfila"
layout:       "post"
---

<p>
    My friend and co-worker Caleb Remington recommended this week that I checkout a modern Hero known as "Iceman" Wim Hof. </p>
<p>Caleb, a human I have the good fortune to have grown very close to and respect, is himself a "modern hero" for his work as tackling cutting edge therapies and treatments within the CF (Cystic Fibrosis) community. He's one of the pioneering CF'ers bringing the sport of <strong>surfing</strong> to people living with CF.
</p>
    
<p>
Caleb was part of the revolutionary discovery (shout-out to our employer) that saline air -- particularly ocean air -- helps CF'ers deal with the overabundance of mucus in their lungs. Always on the cutting edge of cool & esoteric shit, he emailed me the following videos:
</p>

{% include video.html id="Np0jGp6442A"  %}
<br />
{% include video.html id="H2NtdOKn630"  %}
<br />
{% include video.html id="VaMjhwFE1Zw"  %}

<p>I had previously <em>heard</em> of <strong>Wim Hof</strong> following <strong>Kelly Slater</strong>'s IG. He posted a video passing out at one of his workshops. At the time, I didn't think anything of it and never dug deep into the Wim Hof thing. The above videos changed everything for me.
</p>

<p>
    I've decided to give it a go. My 30-day trial of the Wim Hof Method. I'd do it everyday for a month and report back to everyone. 
</p>

<h2>Day One - Friday 10/28/16</h2>

<p>Not to be too much of a sucker, I didn't want to drop the $200 on Wim's full 10-week course, so I found a great video posted by <a href="https://www.youtube.com/channel/UCvkY3RCzBAnHh4AAMVrOQUQ" target="_blank">Verical Addication</a> and followed along with his routine myself at home. Here's the video I used: </p>

{% include video.html id="lCjiNkWNh3s"  %}

<p>Having a bit of experience with yogic breathing & pranayama, the breathing and stretching didn't feel too foreign to me, and tbh, it made me feel high (akin to smoking marijuana).  It didn't take more than 15 minutes, and I was holding my breath around a minute and a half. </p>

<p>I did 4 rounds and hit the cold shower for 7 minutes.</p>

<h3>Previous Cold Shower Experience</h3>

<p>I like cold showers, I've been taking them forever. (I also love warm showers :) So I'm no stranger to the cold shower thing. But in the past, I'd jump in the cold shower, take a bunch of fast breaths, tense up under the flowing tap, and flail my soapy arms all over my body quickly.</p>

<p>I was basically taking a cold shower because it made me feel alive, got my blood pumping and woke me up... but my approach wasn't ideal.</p>

<h3>The Wim Hof Shower</h3>
<p><strong>After the breathing excersizes, my cold shower approach was much different.</strong></p>
<p>I turned on the tap, got in the shower, started the cold water with my feet, and worked it slowly up to my face -- breathing deeply to halt any shivers and relax into the cold. </p>

<p>I accepted that the cold water was fucking cold, folded my hands, tucked my head a bit and breathed deeply under the water - focusing on my abdomen. I rotated front to back a few times while standing silet, and also threw my hands up a few times to get the cold water into my armpits.</p>

<p>At the end of the shower, I soaped up and rinsed the soap so I could go into work.</p>

<h3>The Happiest Human Alive</h3>

<img src="/resources/img/Mind+Cover.jpg" alt="Nat Geo Cover" />

<h3>The happiest human alive (in the cover story above) has a daily routine consisting of meditating under a frigid waterfall.</h3>

<p>In this March 2005 National Geographic cover story, scientists use brain scans to attempt to quantify the happiest human alive. Assuming that an active frontal lobe region makes us "happier" they hooked up all types of people from around the world and scanned their brain activity. </p>

<p>The man was a Shingon Buddhist Monk and his frontal lobe brain activity skyrocketed compared to everyone else. Hopefully this is what I'm doing.</p>

<h3>My Current World</h3>

<p><strong>I have a shitload of stress.</strong> Anyone living in their mid-30s with a child in America is stressed out. Elections, Trump, Active Shooters, War, Road Rage, The lack of affordable housing in CA, it's all here - just eating us the fuck up.</p>

<p>Parlay all that with a newborn baby, lack of sleep, and a partner that is easily annoyed by you (and vice-versa), this is life! It's not all fun all the fucking time people - contrary to what our instagrams say - life is a bitch.</p>

<h3>Wim Hof has been through Hell</h3>

<p>The thing that attracts me to his method is the fact that <strong>he raised 4 kids after the woman he loved killed herself</strong>. That is real darkness. He has been through shit in life and he's found a way to ground it all. </p>

<p>If it helped Hof, maybe it will help me... and here's what I've noticed during the first two days:</p>
<ul>
    <li>A slight boost in energy.</li>
    <li>I shrugged off a few things that would typically annoy / frazzle me at work. (Took a non-conscious deep breath - the deep breath just "happened" - it wasn't forced).</li>
    <li>Ended up going a long time without eating, and the hunger didn't seem <em>as bad</em> as usuall if I don't eat.</li>
    <li>Had a moment of pure joy, laughter and happiness during the workday (whether we can attribute this to WHM I don't know).</li>
    <li>Felt the desire to practice WHM again - as in, leave the office, find a quiet place, and do the breathing.</li>
    <li>Daydreamed of doing cold water submersion in the mountains.</li>
</ul>


