---
layout: default
---

{% include header.html %}

<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
    <!--<div class="post-date">
        <time>{{ page.date | date_to_string }}</time>
    </div> -->

  <div class="PageNavigation">
    {% if post.previous.url %}
      <a class="prev" href="{{post.previous.url}}">&laquo; {{post.previous.title}}</a>
    {% endif %}
    {% if post.next.url %}
      <a class="next" href="{{post.next.url}}">{{post.next.title}} &raquo;</a>
    {% endif %}
  </div>
</div>
{% if site.disqus_shortname %}
  {% include disqus_comments.html %}
{% endif %}
